body {
    background-color: rgb(46, 46, 46);
    color: white;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: center;
    border: 1px dashed pink;
}

#mainContainer {
    display: flex;
    justify-content: center;
    border: 1px dashed white;
    height: 100%;
    width: 100%;
}

#gameWindow {
    display: grid;
    /*border: 1px dashed white;*/
    height: 600px;
    width: 700px;

    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}


#gameContainer {
    display: grid;
    height: 600px;
    width: 700px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.boardCell {
    border: 1px dashed white;
    width: 230px;
    height: 198px;
}

.boardCell:hover,
.boardCell:focus {
    background-color:rgb(100, 100, 100);
}

.playerCharX {
    background-image:url("playerCharX.png");
    background-repeat: no-repeat;
    background-size: 225px 193px;
}

.playerCharO {
    background-image:url("playerCharO.png");
    background-repeat: no-repeat;
    background-size: 225px 193px;
}

#fillCellBTN {
    height: 50px;
    width: 100px;
    border: 1px solid red;
}

.setFirstPlayerBTN {
    height: 50px;
    width: 100px;
    border: 1px solid red;
}